{% extends 'layout.twig' %}

{% block conteudo %}
        {% if produtos|length > 0 %}
            {% include 'produtos/modal/cadastrar.twig' %}
            <table id="table-produtos">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">
                        <span class="glyphicon glyphicon-plus"></span> Novo produto
                    </button>
                </th>
            </tr>
            </tfoot>
            <tbody>
            {% for produto in produtos %}
                <tr>
                    <td>{{ produto.id }}</td>
                    <td>{{ produto.nome }}</td>
                    <td>{{ produto.descricao }}</td>
                    <td>{{ produto.valor }}</td>
                    <td>
                        <a href="{{ path('produto-editar', {'id': produto.id}) }}" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-edit"></span> Editar
                        </a>
                        <a href="{{ path('produto-excluir', {'id': produto.id}) }}" class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove"></span> Excluir
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        {% else %}
            Nenhum produto cadastrado no banco de dados!
        {% endif %}
{% endblock %}

{% block javascript %}
    <script src="js/produto-listagem.js"></script>
{% endblock %}